<nz-card>
  <nz-page-header>
    <nz-page-header-title>
      <nz-avatar nzIcon="user" [nzSrc]="driver.media != null ? (environment.root + driver.media.address) : null"></nz-avatar>{{driver.firstName}} {{driver.lastName}}
    </nz-page-header-title>
    <nz-page-header-tags *ngIf="driver.id != null">
      <nz-tag [nzColor]="tagColor.driver(driver.status)">{{'enum.driver.status.' + toCamelCase(driver.status) | translate}}</nz-tag>
    </nz-page-header-tags>
    <nz-page-header-extra *ngIf="driver.id != null">
      <button nz-button nzType="primary" [nzLoading]="isLoading" (click)="sendDocuments(driver.id)" *ngIf="driver.paymentGatewayDocumentsStatus === 'Não Enviado'">Enviar documentos</button>
      <nz-tag *ngIf="driver.paymentGatewayDocumentsStatus !== 'Não Enviado'">Documentos: {{driver.paymentGatewayDocumentsStatus}}</nz-tag>
      
      <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
        {{'driver.profile.changeStatus' | translate}}
        <i nz-icon nzType="down"></i>
      </button>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu5">
        {{'Payment Gateway Status' | translate}}
        <i nz-icon nzType="down"></i>
      </button>

      <button nz-button nz-dropdown [nzDropdownMenu]="menu6" *ngIf="operador.permissionChangeFranquiaMotorista == 1">
        Alterar Franquia
        <i nz-icon nzType="down"></i>
      </button>

      <nz-dropdown-menu #menu4="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="changeStatus('pending approval')">{{'enum.driver.status.pendingApproval' | translate}}</li>
          <li nz-menu-item (click)="changeStatus('offline')">{{'enum.driver.status.approved' | translate}} </li>
          <li nz-menu-item (click)="changeStatus('blocked')">{{'enum.driver.status.blocked' | translate}}</li>
          <li nz-menu-item (click)="changeStatus('soft reject')">{{'enum.driver.status.softReject' | translate}}</li>
          <li nz-menu-item (click)="changeStatus('hard reject')">{{'enum.driver.status.hardReject' | translate}}</li>
          <li nz-menu-item (click)="changeStatus('offline')">{{'enum.driver.status.offline' | translate}}</li>
          <li nz-menu-item (click)="changeStatus('waiting documents')">{{'enum.driver.status.waitingDocuments' | translate}}</li>
          <li nz-menu-item hidden (click)="changeStatus('in service')">{{'enum.driver.status.inService' | translate}}</li>
          <li nz-menu-item hidden (click)="changeStatus('online')">{{'enum.driver.status.online' | translate}}</li>
        </ul>
      </nz-dropdown-menu>


      <nz-dropdown-menu #menu5="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="changePaymentGatewayDocumentsStatus('Não enviado')">{{'Reenvio de documentos' | translate}}</li>
          <!-- <li nz-menu-item (click)="changePaymentGatewayDocumentsStatus('Em análise')">{{'Em análise' | translate}} </li>
          <li nz-menu-item (click)="changePaymentGatewayDocumentsStatus('Aprovado Manualmente')">{{'Aprovado Manualmente' | translate}}</li>
          <li nz-menu-item (click)="changePaymentGatewayDocumentsStatus('Aprovado Automaticamente')">{{'Aprovado Automaticamente' | translate}}</li>
          <li nz-menu-item (click)="changePaymentGatewayDocumentsStatus('Negado')">{{'Negado' | translate}}</li> -->

        </ul>
      </nz-dropdown-menu>

      <nz-dropdown-menu #menu6="nzDropdownMenu">
        <ul nz-menu style="max-height:200px; overflow:scroll;">
          <li *ngFor="let franquia of franqueados" nz-menu-item (click)="alterarFranquia(franquia.cnpj, franquia.nomeFranquia)">{{franquia.nomeFranquia}}</li>
        </ul>
      </nz-dropdown-menu>

      <br>

      <nz-input-group style="padding-top: 10px; height: 50px; margin-left: 0px; max-width: 40%;" *ngIf="operador.permissionChangeIndicadorMotorista == 1">
        <input type="text" [(ngModel)]="emailIndicador" nz-input placeholder="Digite o email do patrocinador" />
        <button nz-button nzType="primary" (click)="alterarIndicador(emailIndicador)">Alterar indicador</button>
      </nz-input-group>
      
    </nz-page-header-extra>
    <nz-page-header-content *ngIf="driver.id != null">
      <div class="content">
        <div class="main">
          <nz-descriptions [nzColumn]="2">
            <nz-descriptions-item [nzTitle]="'Indicado por' | translate" [nzSpan]="1">{{driver.patrocinador}}</nz-descriptions-item>
            <nz-descriptions-item [nzTitle]="'Franquia atual: ' | translate" [nzSpan]="1">{{driver.nomeFranquia}}</nz-descriptions-item>  
            <nz-descriptions-item [nzTitle]="'driver.profile.registeredOn' | translate" [nzSpan]="1">{{driver.registrationTimestamp | date:'short'}}</nz-descriptions-item>
            <nz-descriptions-item [nzTitle]="'driver.profile.lastSeenAt' | translate" *ngIf="driver.status != 'online'" [nzSpan]="1">{{(driver.lastSeenTimestamp | date:'short') || '-'}}</nz-descriptions-item>
            <nz-descriptions-item [nzTitle]="'driver.profile.rating' | translate" [nzSpan]="1">
              <nz-rate [ngModel]="driver.rating / 20" nzDisabled></nz-rate>
            </nz-descriptions-item>
            <nz-descriptions-item [nzTitle]="'driver.profile.timesRated' | translate" [nzSpan]="1">{{driver.reviewCount}}</nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div class="extra" *ngIf="driver.id != null">
          <div>
            <nz-statistic nzTitle="Credit" [nzValue]="topWallet == null ? '-' :topWallet.amount | currency: topWallet.currency"
              style="margin: 0 32px"></nz-statistic>
          </div>
        </div>
      </div>
    </nz-page-header-content>
    <nz-page-header-footer>
      <nz-tabset nzLinkRouter>
        <nz-tab>
          <a nz-tab-link routerLink="details">{{'driver.profile.details' | translate}}</a>
          <app-driver-profile-details></app-driver-profile-details>
        </nz-tab>
        <nz-tab *ngIf="driver.id != null">
          <a nz-tab-link routerLink="financial">{{'driver.profile.financials' | translate}}</a>
          <app-driver-profile-financial></app-driver-profile-financial>
        </nz-tab>
        <nz-tab *ngIf="driver.id != null">
          <a nz-tab-link routerLink="payment-requests">{{'driver.profile.paymentRequests' | translate}}</a>
          <app-driver-profile-payment-requests></app-driver-profile-payment-requests>
        </nz-tab>
        <nz-tab *ngIf="driver.id != null">
          <a nz-tab-link routerLink="reviews">{{'driver.profile.reviews' | translate}}</a>
          <app-driver-profile-reviews></app-driver-profile-reviews>
        </nz-tab>
        <nz-tab *ngIf="driver.id != null">
          <a nz-tab-link routerLink="documents">{{'driver.profile.documents' | translate}}</a>
          <app-driver-profile-documents></app-driver-profile-documents>
        </nz-tab>
        <nz-tab *ngIf="driver.id != null">
          <a nz-tab-link routerLink="payment-gateway">{{'Status do Gateway de pagamento' | translate}}</a>
          <app-driver-profile-payment-gateway></app-driver-profile-payment-gateway>
        </nz-tab>
      </nz-tabset>
    </nz-page-header-footer>
  </nz-page-header>
</nz-card>