<nz-card>
<nz-row *ngFor="let per of permissions">
    <h4 style="width: 160px;">{{per}}:</h4>
    <nz-checkbox-group *ngIf="permissionValues[per] != null" [ngModel]="permissionValues[per]"></nz-checkbox-group>
    <br>
    <br>
</nz-row>
<nz-row>
    <label nz-checkbox [(ngModel)]="permissionChangeIndicadorMotorista">Permissao de alterar indicador</label>
    <label nz-checkbox [(ngModel)]="permissionChangeFranquiaMotorista">Permissao de alterar franquia</label>
</nz-row>
<nz-row style="padding: 15px" *ngIf="operador.permissionChangeFranquiaMotorista == 1">
    <label style="padding-right: 20px;">Franquia : {{model.nomeFranquia}}</label>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu6">
        Alterar Franquia
        <i nz-icon nzType="down"></i>
      </button>
</nz-row>
<nz-dropdown-menu #menu6="nzDropdownMenu">
    <ul nz-menu style="max-height:200px; overflow:scroll;">
      <li *ngFor="let franquia of franqueados" nz-menu-item (click)="alterarFranquia(franquia.cnpj, franquia.nomeFranquia)">{{franquia.nomeFranquia}}</li>
    </ul>
</nz-dropdown-menu>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <button nz-button nzType="primary" type="submit" [disabled]="!form.valid">Salvar</button>
</form>
<br>
<p *ngIf="model.id == null">Novos usuários podem fazer login sem senha. Certifique-se de definir uma senha após o login.</p>
</nz-card>  