<div>
    <nz-timeline *ngIf="driver != null">
        <nz-timeline-item nzColor="gray" *ngIf="driver.paymentGatewayDocumentsStatus === 'Não Enviado'" >Os documentos ainda não foram enviados para análise</nz-timeline-item>
        <nz-timeline-item nzColor="orange" *ngIf="!!driver.paymentGatewayDocumentsPendingDate">Os documentos foram enviados para análise - {{driver.paymentGatewayDocumentsPendingDate | date}}</nz-timeline-item>
        <nz-timeline-item nzColor="green" *ngIf="!!driver.paymentGatewayDocumentsEnabledDate">Os documentos foram aprovados manualmente - {{driver.paymentGatewayDocumentsEnabledDate | date}}</nz-timeline-item>
        <nz-timeline-item nzColor="red" *ngIf="!!driver.paymentGatewayDocumentsDeniedDate">Os documentos foram reprovados - {{driver.paymentGatewayDocumentsDeniedDate | date}}</nz-timeline-item>
        <nz-timeline-item nzColor="green" *ngIf="!!driver.paymentGatewayDocumentsActivatedDate">Os documentos foram aprovados automaticamente - {{driver.paymentGatewayDocumentsActivatedDate | date}}</nz-timeline-item>
    </nz-timeline>
</div>

