<nz-steps *ngIf="!configed" [nzCurrent]="currentStep" nzType="navigation">
    <nz-step nzTitle="Purchase Code" nzDescription="License Verification"></nz-step>
    <nz-step nzTitle="MySQL" nzDescription="MySQL DB access"></nz-step>
    <nz-step nzTitle="Maps API" nzDescription="Google Maps API Keys"></nz-step>
    <nz-step nzTitle="Firebase Admin SDK" nzDescription="Notification & Auth"></nz-step>
</nz-steps>
<div class="step-content" *ngIf="currentStep == 0">
    <input nz-input placeholder="Purchase Code" [(ngModel)]="config.purchaseCode" />
</div>
<div class="step-content" *ngIf="currentStep == 1">
    <input nz-input placeholder="Host" [(ngModel)]="config.mysql.host" />
    <input nz-input placeholder="Port" [(ngModel)]="config.mysql.port" />
    <input nz-input placeholder="Database Name" [(ngModel)]="config.mysql.database" />
    <input nz-input placeholder="User" [(ngModel)]="config.mysql.user" />
    <input nz-input placeholder="Password" [(ngModel)]="config.mysql.password" />
</div>
<div class="step-content" *ngIf="currentStep == 2">
    <input nz-input placeholder="Backend Maps API key" [(ngModel)]="config.googleMapsKey" />
    <input nz-input placeholder="Dashboard Maps API key" [(ngModel)]="dashboardAPIKey" />
</div>
<div class="step-content" *ngIf="currentStep == 3 && !configed">
    <input nz-input placeholder="Rider DB Url" [(ngModel)]="config.firebase.rider.dbUrl" />
    <nz-upload nzType="drag" [nzAction]="root + 'config/upload_firebase'" (nzChange)="handleChange($event, 'rider')"
        nzAccept=".json,application/json">
        <p class="ant-upload-drag-icon">
            <i nz-icon nzType="inbox"></i>
        </p>
        <p class="ant-upload-text">Chave privada do passageiro</p>
        <p class="ant-upload-hint">
            Faça o upload do arquivo json da chave privada do passageiro recebido de projetos do rider firebase em Conta de serviço e por
            clicando em `Gerar chave privada`
        </p>
    </nz-upload>
    <input nz-input placeholder="Driver DB Url" [(ngModel)]="config.firebase.driver.dbUrl" />
    <nz-upload nzType="drag" [nzAction]="root + 'config/upload_firebase'" (nzChange)="handleChange($event, 'driver')"
        nzAccept=".json,application/json">
        <p class="ant-upload-drag-icon">
            <i nz-icon nzType="inbox"></i>
        </p>
        <p class="ant-upload-text">Chave privada do motorista</p>
        <p class="ant-upload-hint">
            Carregar arquivo json da chave privada do motorista recebido de projetos da base de firmas do driver em Conta de serviço e
            clicando em `Gerar chave privada`
        </p>
    </nz-upload>
</div>
<div class="steps-action"  *ngIf="!configed">
    <button nz-button nzType="default" (click)="pre()" *ngIf="currentStep > 0">Anterior</button>
    <button nz-button nzType="primary" (click)="next()" *ngIf="currentStep < 3">Próximo</button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="currentStep === 3">Feito</button>
</div>
<nz-result *ngIf="configed" nzStatus="success" nzTitle="Configuration Done!"
    nzSubTitle="Your configuration steps are done now! You will need to wait for around 30 seconds so system would set it up then you can go to login screen using button below.">
    <div nz-result-extra>
        <button nz-button nzType="primary" routerLink="../login">Go Login</button>
    </div>
</nz-result>
  <ng-template #tplContent>
    <p>Este código de compra parece ter sido usado por outro servidor `no passado` /` agora '. Você pode optar por desativar o servidor anterior na lista abaixo e continuar usando neste servidor.</p>
    <nz-select [(ngModel)]="selectedClient" nzAllowClear nzPlaceHolder="Choose" style="width: 100%;">
        <nz-option *ngFor="let client of clients" [nzValue]="client.ip" [nzLabel]="client.ip"></nz-option>
      </nz-select>
  </ng-template>
  <ng-template #tplFooter>
    <button nz-button nzType="primary" [nzLoading]="tplModalButtonLoading" [disabled]="selectedClient == null" (click)="disableServer()">
      Desativar servidor selecionado
    </button>
  </ng-template>