<div>
  <div fxLayout="row" fxLayoutGap="4px" class="dt-actionbar">
    <!--<button nz-button nzType="primary"><i nz-icon nzType="plus"></i>Add</button>-->
  </div>
      <nz-table
      #ajaxTable
      nzShowSizeChanger
      [nzData]="listOfData"
      [nzTotal]="total"
      nzBordered
    >
      <thead>
        <tr>
          <th>
            Data & Hora
          </th>
          <th>
            Assunto
          </th>
          <th>
            Conteúdo
          </th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data">
          <td>{{ data.inscriptionTimestamp | date: "short" }}</td>
          <td>{{ data.subject }}</td>
          <td>{{ data.content }}</td>
          <td>
            <a [routerLink]="'../../../complaints/view/' + data.id"
              >Ver reclamação</a
            >
          </td>
        </tr>
      </tbody>
    </nz-table>
</div>
