<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <h3>Serviços Disponíveis</h3>
  <nz-transfer [nzTitles]="['Todos', 'Ativado']" [nzDataSource]="services">
  </nz-transfer>
  <br />
  <br />
  <h3>Foto de perfil</h3>
  <nz-upload
    [nzAction]="root + 'operator/upload'"
    [nzHeaders]="{ type: 'driver image' }"
    (nzChange)="uploaded($event)"
    nzListType="picture-card"
    [nzShowButton]="true"
    [nzShowUploadList]="false"
    nzSize="3000"
    nzFileType="image/png,image/jpeg,image/gif,image/bmp"
  >
    <ng-container *ngIf="!avatarUrl">
      <i nz-icon nzType="plus"></i>
      <div class="ant-upload-text">Upload</div>
    </ng-container>
    <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
  </nz-upload>
  <br />
  <button nz-button nzType="primary" type="submit" [disabled]="!form.valid">
    Salvar
  </button>
</form>
