
<nz-row class="dash-row">
  <nz-col [nzSm]="24" [nzMd]="6" [nzLg]="6" class="stat-card">
    <a routerLink="/drivers/pending" [queryParams]="{status: 'pending approval'}"
       routerLinkActive="router-link-active">
    <nz-card>
      <nz-statistic [nzValue]="pendingDrivers" [nzTitle]="'Motoristas Pendentes' | translate" [nzPrefix]="prefixTplPendingDrivers"
        [nzValueStyle]="{ color: colorForCount(pendingDrivers) }" [nzSuffix]="'não verificado(s)' | translate">
      </nz-statistic>
      <ng-template #prefixTplPendingDrivers><i nz-icon nzType="car"></i></ng-template>
    </nz-card>
    </a>
  </nz-col>
  <nz-col [nzSm]="24" [nzMd]="6" [nzLg]="6" class="stat-card">
    <nz-card>
      <nz-statistic [nzValue]="complaints" [nzTitle]="'Reclamações não revisadas' | translate" [nzPrefix]="prefixTplPendingDrivers"
                    [nzValueStyle]="{ color: colorForCount(complaints) }"  [nzSuffix]="'no total' | translate">
      </nz-statistic>
      <ng-template #prefixTplPendingDrivers><i nz-icon="exception" nzType="exception"></i></ng-template>
    </nz-card>
  </nz-col>
  <nz-col [nzSm]="24" [nzMd]="6" [nzLg]="6" class="stat-card">
    <a routerLink="/drivers/online" [queryParams]= "{status: 'online'}"
       routerLinkActive="router-link-active">
    <nz-card [routerLink]='["/drivers/online"]' [queryParams]="{status: 'online'}">
      <nz-statistic [nzValue]="onlineDrivers" [nzTitle]="'Motoristas Online' | translate" [nzPrefix]="prefixTplPendingDrivers"
                    [nzSuffix]="'online' | translate">
      </nz-statistic>
      <ng-template #prefixTplPendingDrivers><i nz-icon nzType="car"></i></ng-template>
    </nz-card>
    </a>
  </nz-col>
  <nz-col [nzSm]="24" [nzMd]="6" [nzLg]="6" class="stat-card">
    <a routerLink="/drivers/all" [queryParams]= "{status: 'pending approval|offline|blocked|online|in service|waiting documents|soft reject|hard reject'}"
       routerLinkActive="router-link-active">
    <nz-card>
      <nz-statistic [nzValue]="allDrivers" [nzTitle]="'Motoristas Cadastrados' | translate" [nzPrefix]="prefixTplPendingDrivers"
                    [nzSuffix]="'no total' | translate">
      </nz-statistic>
      <ng-template #prefixTplPendingDrivers><i nz-icon nzType="car"></i></ng-template>
    </nz-card>
    </a>
  </nz-col>
</nz-row>
<nz-row class="dash-row" style="margin-top: 0px;">
  <nz-col [nzSm]="24" [nzMd]="6" [nzLg]="6" class="stat-card">
    <nz-card>
      <nz-statistic [nzValue]="aprovados" [nzTitle]="'Motoristas aprovados' | translate" [nzPrefix]="prefixTplPendingDrivers"
                    [nzSuffix]="'no total' | translate">
      </nz-statistic>
      <ng-template #prefixTplPendingDrivers><i nz-icon nzType="car"></i></ng-template>
    </nz-card>
  </nz-col>
</nz-row>
<nz-row class="dash-row">
  <nz-col nzSpan="24">
    <nz-card [nzTitle]="'overview.driversOnline' | translate" [nzExtra]="extraTemplate" [nzCover]="mapTpl">
    </nz-card>
    <ng-template #extraTemplate>
      <span style="padding-right: 10px;">{{'overview.autoZoom' | translate}}</span>
      <nz-switch [(ngModel)]="autoZoom" nzCheckedChildren="1" nzUnCheckedChildren="0"></nz-switch>
    </ng-template>
    <ng-template #mapTpl>
      <google-map height="400px" width="100%" style="position: absolute; color: rgb(240 242 245);">
        <map-marker #marker *ngFor="let markerPosition of drivers" [position]="markerPosition.location"
          [options]="{ draggable: false }" (mapClick)="openInfoWindow(marker)"
          [title]="markerPosition.driverId.toString()">{{ markerPosition.driverId }}</map-marker>
        <map-info-window><a [routerLink]="'../../../drivers/all/view/' + selectedDriverId">{{'overview.viewDriver' | translate}}</a></map-info-window>
      </google-map>
    </ng-template>
  </nz-col>
</nz-row>
