<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>

    <body>
        <div class="">
            <div class="aHl"></div>
            <div id=":gw" tabindex="-1"></div>
            <div id=":hz" class="ii gt">
                <div id=":hy" class="a3s aXjCH">
                    <u></u>
                    <div>
                        <table
                            border="0"
                            align="center"
                            cellpadding="0"
                            cellspacing="0"
                            class="m_3437586330472177722seguratudo"
                            style="width: 600px; max-width: 600px; color: #000000; text-align: center;"
                            width="600"
                        >
                            <tbody>
                                <tr>
                                    <td bgcolor="#F9F9F9" style="height: 40px;">
                                        <img
                                            src="https://bora-brasil-cms.web.app/static/media/logo.9fb33d94.png"
                                            height="120"
                                            style="height: 120px; margin-top: 40px;"
                                        />
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F9F9F9" valign="top" style="padding: 20px;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tbody align="center">
                                                <tr>
                                                    <td height="70">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p
                                                            style="
                                                                color: #2c2e35;
                                                                font-family: Arial;
                                                                font-size: 30px;
                                                                text-decoration: bold;
                                                                margin-bottom: -5px;
                                                            "
                                                        >
                                                            CRIAR SENHA
                                                        </p>
                                                    </td>
                                                </tr>

                                                <tr align="center">
                                                    <td>
                                                        <p
                                                            style="
                                                                color: #666666;
                                                                font-family: Arial;
                                                                font-size: 14px;
                                                                width: 72%;
                                                                margin-bottom: 60px;
                                                            "
                                                        >
                                                            Clique no botão abaixo para criar sua senha!
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table border="0" align="center" cellpadding="0" cellspacing="0" width="90%">
                                            <tbody>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">
                                                        <a href="{{link}}"
                                                            ><button
                                                                style="
                                                                    text-transform: uppercase;
                                                                    font-size: 24px;
                                                                    background-color: #ee6a35;
                                                                    color: #ffffff;
                                                                    border-radius: 100px;
                                                                    cursor: pointer;
                                                                    border: none;
                                                                    padding: 15px 60px 15px 60px;
                                                                "
                                                            >
                                                                CRIAR SENHA
                                                            </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="80">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="yj6qo"></div>
                        <div class="adL"></div>
                    </div>
                    <div class="adL"></div>
                </div>
            </div>
            <div id=":h9" class="ii gt" style="display: none;">
                <div id=":h8" class="a3s aXjCH undefined"></div>
            </div>
            <div class="hi"></div>
        </div>
    </body>
</html>
