<nz-row class="dash-row">
  <nz-col nzSpan="24">
    <nz-card
      [nzTitle]="'panic.overview.panicIncidents' | translate"
      [nzExtra]="extraTemplate"
      [nzCover]="mapTpl"
    >
    </nz-card>
    <ng-template #extraTemplate>
      <span style="padding-right: 10px">{{
        "overview.autoZoom" | translate
      }}</span>
      <nz-switch
        [(ngModel)]="autoZoom"
        nzCheckedChildren="1"
        nzUnCheckedChildren="0"
      ></nz-switch>
    </ng-template>
    <nz-modal
      *ngIf="isInfoVisible"
      [(nzVisible)]="isInfoVisible"
      [nzTitle]="
        ('panic.overview.incident' | translate) +
        ' nº ' +
        watchingOccurrences[selectedDriverId].id
      "
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleSubmit()"
      [nzFooter]="modalFooter"
    >
      <nz-card nzType="inner" style="margin-top: 8px" [nzTitle]="contactHeader">
        <nz-descriptions style="margin-top: 8px" [nzColumn]="1">
          <nz-descriptions-item
            [nzTitle]="'panic.overview.fullName' | translate"
            >{{ watchingOccurrences[selectedDriverId].driver.firstName }}
            {{
              watchingOccurrences[selectedDriverId].driver.lastName
            }}</nz-descriptions-item
          >
          <nz-descriptions-item
            [nzTitle]="'panic.overview.cellPhone' | translate"
            >{{
              watchingOccurrences[selectedDriverId].driver.mobileNumber
            }}</nz-descriptions-item
          >
        </nz-descriptions>
      </nz-card>
      <nz-card nzType="inner" style="margin-top: 8px" [nzTitle]="vehicleHeader">
        <nz-descriptions style="margin-top: 8px" [nzColumn]="2">
          <nz-descriptions-item
            [nzTitle]="'panic.overview.model' | translate"
            >{{
              watchingOccurrences[selectedDriverId].driver.car?.title ||
                "Desconhecido"
            }}</nz-descriptions-item
          >
          <nz-descriptions-item
            [nzTitle]="'panic.overview.plate' | translate"
            >{{
              watchingOccurrences[selectedDriverId].driver.carPlate
            }}</nz-descriptions-item
          >
          <nz-descriptions-item
            [nzTitle]="'panic.overview.color' | translate"
            >{{
              watchingOccurrences[selectedDriverId].driver.carColor
            }}</nz-descriptions-item
          >
        </nz-descriptions>
      </nz-card>
      <nz-card
        nzType="inner"
        style="margin-top: 8px"
        [nzTitle]="incidentHeader"
      >
        <nz-descriptions style="margin-top: 8px" [nzColumn]="2">
          <nz-descriptions-item nzTitle="Status">
            <nz-select
              [(ngModel)]="watchingOccurrences[selectedDriverId].status"
            >
              <nz-option
                *ngFor="let status of incidentStatus"
                [nzValue]="status"
                [nzLabel]="'occurrenceStatus.' + status | translate"
              ></nz-option>
            </nz-select>
          </nz-descriptions-item>
          <nz-descriptions-item
            [nzTitle]="'panic.overview.startDate' | translate"
            >{{
              watchingOccurrences[selectedDriverId].startDate | date: "short"
            }}</nz-descriptions-item
          >
        </nz-descriptions>
        <label
          nz-checkbox
          [(ngModel)]="
            watchingOccurrences[selectedDriverId].calledLocalAuthority
          "
          >{{ "panic.overview.calledLocalAuthority" | translate }}</label
        >
        <textarea
          nz-input
          [placeholder]="'panic.overview.incidentDetails' | translate"
          [nzAutosize]="{ minRows: 2, maxRows: 6 }"
          [(ngModel)]="watchingOccurrences[selectedDriverId].details"
          style="margin-top: 16px"
        ></textarea>
      </nz-card>
    </nz-modal>
    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">
        {{ "panic.overview.close" | translate }}
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="handleSubmit()"
        [nzLoading]="isLoading"
      >
        {{ "panic.overview.finishOccurrence" | translate }}
      </button>
    </ng-template>
    <ng-template #incidentHeader>
      <i nz-icon nzType="alert" style="margin-right: 8px"></i
      >{{ "panic.overview.incidentData" | translate }}
    </ng-template>
    <ng-template #contactHeader>
      <i nz-icon nzType="phone" nzRotate="90" style="margin-right: 8px"></i
      >{{ "panic.overview.contact" | translate }}
    </ng-template>
    <ng-template #vehicleHeader>
      <i nz-icon nzType="car" style="margin-right: 8px"></i
      >{{ "panic.overview.vehicle" | translate }}
    </ng-template>
    <ng-template #mapTpl>
      <google-map height="80vh" width="100%">
        <map-marker
          #marker
          *ngFor="let markerPosition of drivers"
          [position]="markerPosition.location"
          [options]="{
            draggable: false,
            icon: '/assets/icons/marker-car-40x40.png'
          }"
          (mapClick)="openInfoWindow(markerPosition.driverId)"
          [title]="markerPosition.driverId.toString()"
        >
        </map-marker>
      </google-map>
    </ng-template>
  </nz-col>
</nz-row>
