<nz-card>
  <nz-page-header>
    <nz-page-header-title>{{ item.name }}</nz-page-header-title>
    <nz-page-header-tags>
    </nz-page-header-tags>
    <nz-page-header-extra>
    </nz-page-header-extra>
    <nz-page-header-content>
      <div class="content">
        <div class="main">
          <nz-descriptions [nzColumn]="2">
            <nz-descriptions-item nzTitle="Mobile Number" [nzSpan]="1">{{ item.mobileNumber }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Phone Number" [nzSpan]="1">{{ item.phoneNumber }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Address" [nzSpan]="2">{{ item.address }}</nz-descriptions-item>
          </nz-descriptions>
        </div>
        <div class="extra">
          <div>
            <nz-statistic nzTitle="Credit" [nzValue]="topWallet == null ? '-' : (topWallet.amount | currency: topWallet.currency)" style="margin: 0 32px"></nz-statistic>
          </div>
        </div>
      </div>
    </nz-page-header-content>
    <nz-page-header-footer>
      <nz-tabset nzLinkRouter>
        <nz-tab>
          <a nz-tab-link routerLink="details">Detalhes</a>
          <app-fleet-view-details></app-fleet-view-details>
        </nz-tab>
        <nz-tab>
          <a nz-tab-link routerLink="financials">Finanças</a>
          <app-fleet-view-financials></app-fleet-view-financials>
        </nz-tab>
      </nz-tabset>
    </nz-page-header-footer>
  </nz-page-header>
</nz-card>