<nz-tabset nzTabPosition="left">
  <nz-tab nzTitle="General Settings">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <button nz-button nzType="primary" type="submit" [disabled]="!form.valid">Salvar</button>
  </form>
  </nz-tab>
</nz-tabset>