<nz-layout class="app-layout">
  <nz-sider nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="{{'branding.footer.address' | translate}}" target="_blank">
        <img src="../../assets/logo.png" alt="logo">
        <h1>{{'branding.menu.header' | translate}}</h1>
    </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li *ngIf="!hasPanicButtonPermission" nz-submenu nzTitle="Home" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/home/overview">Visão geral</a>
          </li>
          <!--li nz-menu-item nzMatchRouter>
              <a routerLink="/home/order">Order</a>
            </li-->
        </ul>
      </li>
      <li *ngIf="!hasPanicButtonPermission" nz-submenu [nzTitle]="'menu.driver.header' | translate" nzIcon="car">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/drivers/pending" [queryParams]="{status: 'pending approval'}"
              routerLinkActive="router-link-active">{{'menu.driver.pendingVerification' | translate}}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/drivers/payment-requests" [queryParams]="{status: 'pending'}">{{'menu.driver.paymentRequests' | translate}}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/drivers/all" [queryParams]= "{status: 'pending approval|offline|blocked|online|in service|waiting documents|soft reject|hard reject'}">{{'menu.driver.all' | translate}}</a>
          </li>
        </ul>
      </li>
      <li *ngIf="!hasPanicButtonPermission" nz-submenu [nzTitle]="'menu.marketing.header' | translate" nzIcon="fund">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/marketing/coupons">{{'menu.marketing.coupons' | translate}}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/marketing/promotions">{{'menu.marketing.promotions' | translate}}</a>
          </li>
        </ul>
      </li>
      <li *ngIf="!hasPanicButtonPermission" nz-menu-item nzMatchRouter>
        <a routerLink="/riders"><i nz-icon nzType="user"></i><span *ngIf="!isCollapsed">{{'menu.riders' | translate}}</span></a>
      </li>
      <li *ngIf="!hasPanicButtonPermission" nz-menu-item nzMatchRouter>
        <a routerLink="/requests"><i nz-icon nzType="container"></i><span *ngIf="!isCollapsed">{{'menu.requests' | translate}}</span></a>
      </li>
      <li *ngIf="!hasPanicButtonPermission" nz-menu-item nzMatchRouter>
        <a routerLink="/complaints"><i nz-icon nzType="customer-service"></i><span
            *ngIf="!isCollapsed">{{'menu.complaints' | translate}}</span></a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/panic"><i nz-icon nzType="alert"></i><span *ngIf="!isCollapsed">{{'menu.panicButton' | translate}}</span></a>
      </li>
      <li *ngIf="!hasPanicButtonPermission" nz-submenu [nzTitle]="'menu.management.header' | translate" nzIcon="control">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/management/regions">{{'menu.management.regions' | translate}}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/management/services">{{'menu.management.services' | translate}}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/management/fleets">Franquias</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/management/cars">{{'menu.management.cars' | translate}}</a>
          </li>
          <li *ngIf="operador.cnpjFranquia == '000'" nz-menu-item nzMatchRouter>
            <a routerLink="/management/users">{{'menu.management.users' | translate}}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/management/payment-gateways">{{'menu.management.paymentGateways' | translate}}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/management/settings">{{'menu.management.settings' | translate}}</a>
          </li>
        </ul>
      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
        </nz-page-header-title>
        <nz-page-header-extra>
          <span class="header-trigger" style="margin-right: 15px">
            <i>{{operador.nomeFranquia}}</i>
          </span>
          <span class="header-trigger" (click)="changeTheme()" style="margin-right: 15px;">
            <i class="trigger" nz-icon nz-tooltip="Switch Dark/Day Mode" nzType="bulb"></i>
          </span>
<!--          <nz-badge [nzDot]="(stats.complaints != 0 || stats.driversPending != 0 || stats.paymentRequests != 0)" style="margin-right: 15px;">-->
<!--            <span nz-popover nzPopoverTitle="Notification Center" [nzPopoverContent]="notificationTemplate"-->
<!--              nzPopoverPlacement="bottomRight" class="header-trigger">-->
<!--              <i class="trigger" nz-icon nzType="notification"></i>-->
<!--            </span>-->
<!--          </nz-badge>-->
<!--          <ng-template #notificationTemplate>-->
<!--            <nz-row>-->
<!--              <div *ngIf="stats.complaints != 0">-->
<!--                <nz-avatar class="not-avatar" nzSize="large" nzShape="square" nzIcon="customer-service" [routerLink]='["/complaints"]'-->
<!--                  style="background-color:#b7eb8f;"></nz-avatar><span class="not-desc"><b>{{stats.complaints}}</b>-->
<!--                  {{'notification.complaints.suffix' | translate}}</span>-->
<!--              </div>-->
<!--            </nz-row>-->
<!--            <nz-row>-->
<!--              <nz-divider *ngIf="stats.driversPending != 0 && stats.complaints != 0"></nz-divider>-->
<!--              <div *ngIf="stats.driversPending != 0">-->
<!--                <nz-avatar class="not-avatar" nzSize="large" nzShape="square" nzIcon="car"  [routerLink]='["/drivers/pending"]' [queryParams]="{status: 'pending approval'}" -->
<!--                  style="background-color:#87e8de;"></nz-avatar><span class="not-desc"><b>{{stats.driversPending}}</b>-->
<!--                    {{'notification.pendingDrivers.suffix' | translate}}</span>-->
<!--              </div>-->
<!--            </nz-row>-->
<!--            <nz-row>-->
<!--              <nz-divider *ngIf="stats.paymentRequests != 0 && (stats.complaints != 0 || stats.driversPending != 0)"></nz-divider>-->
<!--              <div *ngIf="stats.paymentRequests != 0">-->
<!--                <nz-avatar class="not-avatar" [routerLink]='["/drivers/payment-requests"]' [queryParams]="{status: 'Pending'}" nzSize="large" nzShape="square" nzIcon="bank"-->
<!--                  style="background-color:#d3adf7;"></nz-avatar><span class="not-desc"><b>{{stats.paymentRequests}}</b>-->
<!--                    {{'notification.paymentRequests.suffix' | translate}}</span>-->
<!--              </div>-->
<!--            </nz-row>-->
<!--          </ng-template>-->
          <span class="header-trigger" (click)="logout()">
            <i class="trigger" nz-icon nzType="logout" nz-tooltip="Logout"></i>
          </span>
        </nz-page-header-extra>
      </nz-page-header>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer><span>{{'branding.footer.prefix' | translate}} <a href="{{'branding.footer.address' | translate}}">{{'branding.footer.title' | translate}}</a> {{'branding.footer.suffix' | translate}}</span></nz-footer>
  </nz-layout>
</nz-layout>