
<div nz-row [nzGutter]="16" style="padding: 32px;">
  <div nz-col class="gutter-row" [nzSpan]="8" *ngFor="let document of documents" style="margin-bottom: 32px;">
    <a href="{{root + document.address}}" target="_blank">
      <nz-card nzType="inner" nzHoverable style="width:240px; border: 1px solid #dddddd" [nzCover]="coverTemplate">
          <nz-card-meta nzTitle="{{ 'documents.type.' + document.type | translate }}"></nz-card-meta>
      </nz-card>
    </a>
    <ng-template #coverTemplate>
      <img alt="{{ document.type }}" src="{{root + document.address}}" />
    </ng-template>
  </div>
</div>
<nz-empty *ngIf="documents == null" class="empty-state"></nz-empty>
