<div>
    <div fxLayout="row" fxLayoutGap="4px" class="dt-actionbar">
      <button nz-button nz-dropdown [nzDropdownMenu]="menuExport">
        <i nz-icon nzType="export"></i>
        Exportar
        <i nz-icon nzType="down"></i>
      </button>
      <nz-dropdown-menu #menuExport="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="exportTo('csv')">CSV</li>
        </ul>
      </nz-dropdown-menu>
    </div>
      <nz-table
        #ajaxTable
        nzShowSizeChanger
        nzTitle="Transactions"
        [nzFrontPagination]="false"
        [nzData]="listOfData"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)"
        nzBordered
      >
        <thead (nzSortChange)="sort($event)">
          <tr>
            <th nzShowSort nzSortKey="transactionTime">Data & Hora</th>
            <th nzShowSort nzSortKey="transactionType" nzShowFilter [nzFilters]="types" (nzFilterChange)="filterStatusChange($event)">Tipo de transação</th>
            <th>Valor</th>
            <th>Número do documento</th>
            <th>Detalhes</th>
            <th>Açâo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data">
            <td>{{ data.transactionTime | date: "short" }}</td>
            <td>{{ data.transactionType }}</td>
            <td>{{ data.amount | currency: data.currency }}</td>
            <td>{{ data.documentNumber }}</td>
            <td>{{ data.details }}</td>
            <td>
              <a *ngIf="data.operator != null" [routerLink]="'../../../operator/view/' + data.operator">Ver operador</a>
              <a *ngIf="data.request != null" [routerLink]="'../../../requests/view/' + data.request">Ver pedido</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    <nz-table
        #summaryTable
        [nzData]="summary"
        nzBordered
        [nzShowPagination]="false">
        <thead>
          <tr>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of summaryTable.data">
            <td>{{ data.amount | currency: data.currency }}</td>
          </tr>
        </tbody>
      </nz-table>
    
  </div>
  