<div fxLayout="row" fxLayoutGap="4px" class="dt-actionbar">
    <button nz-button nzType="primary" routerLink="new"><i nz-icon nzType="plus"></i>Add</button>
  </div>
  <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzTotal]="total"
    [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)" nzBordered>
    <thead (nzSortChange)="sort($event)">
      <tr>
        <th nzCustomFilter>
          Nome
          <nz-filter-trigger [nzActive]="lastNameSearchValue != null" [nzDropdownMenu]="filtername">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th nzCustomFilter>
		  Número de celular
          <nz-filter-trigger [nzActive]="mobileSearchValue != null" [nzDropdownMenu]="filtermobile">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th nzShowSort nzSortKey="status" nzShowFilter [nzFilters]="driverStatuses"
          (nzFilterChange)="filterStatusChange($event)">Status</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data">
        <td>{{ data.firstName }} {{ data.lastName }}</td>
        <td>{{ data.mobileNumber | phone }}</td>
        <td>
          <nz-tag [nzColor]="tagColor.rider(data.status)">{{data.status}}</nz-tag>
        </td>
        <td>
          <a [routerLink]="'view/' + data.id + '/requests'">Solicitações</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a [routerLink]="'view/' + data.id + '/financials'">Financeiro</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a [routerLink]="'view/' + data.id">Ver</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #filtername="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Last Name" [(ngModel)]="lastNameSearchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="filterName(lastNameSearchValue)"
          class="search-button">
          Pesquisar
        </button>
        <button nz-button nzSize="small" (click)="refreshPage()">Resetar</button>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #filtermobile="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search Mobile Number" [(ngModel)]="mobileSearchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="filterMobile(mobileSearchValue)"
          class="search-button">
          Pesquisar
        </button>
        <button nz-button nzSize="small" (click)="refreshPage()">Resetar</button>
      </div>
    </div>
  </nz-dropdown-menu>