<div fxLayout="row" fxLayoutGap="4px" class="dt-actionbar">
  <!--<button nz-button nzType="primary"><i nz-icon nzType="plus"></i>Add</button>-->
</div>
<nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
  [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)" nzBordered>
  <thead (nzSortChange)="sort($event)">
    <tr>
      <th nzShowSort nzSortKey="transactionTime">
        Data & Hora
      </th>
      <th nzShowSort nzSortKey="transactionType">
        Tipo de transação
      </th>
      <th>
        Valor
      </th>
      <th>
		Número do documento
      </th>
      <th>
        Detalhes
      </th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{ data.transactionTime | date: "short" }}</td>
      <td>{{ data.transactionType }}</td>
      <td>{{ data.amount | currency: data.currency }}</td>
      <td>{{ data.documentNumber }}</td>
      <td>{{ data.details }}</td>
      <td>
        <a *ngIf="data.operator != null" [routerLink]="'../../../../management/users/view/' + data.operator">Ver operador</a>
        <a *ngIf="data.paymentGateway != null" [routerLink]="'../../../../management/payment-gateways'">Vxibir gateway de pagamento</a>
        <a *ngIf="data.request != null" [routerLink]="'../../../../requests/view/' + data.request">Ver Pedido</a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-card nzTitle="Insert Transaction">
  <form [formGroup]="formTransaction" (ngSubmit)="onSubmitTransaction()">
    <formly-form [form]="formTransaction" [fields]="fieldsTransaction" [model]="modelTransaction"></formly-form>
    <button nz-button nzType="primary" type="submit" [disabled]="!formTransaction.valid">Salvar</button>
  </form>

</nz-card>