<div fxLayout="row" fxLayoutGap="4px" class="dt-actionbar">
    <button nz-button nzType="primary" routerLink="new"><i nz-icon nzType="plus"></i>Add</button>
  </div>
  <nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzTotal]="total"
    [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)" nzBordered>
    <thead (nzSortChange)="sort($event)">
      <tr>
        <th nzCustomFilter>
          Nome
          <nz-filter-trigger [nzActive]="firstNameSearchValue != null" [nzDropdownMenu]="filtername">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th nzCustomFilter>
          Numero Celular
          <nz-filter-trigger [nzActive]="mobileSearchValue != null" [nzDropdownMenu]="filtermobile">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th nzCustomFilter>
          Franquia
          <nz-filter-trigger [nzActive]="franquiaSearchValue != null" [nzDropdownMenu]="filterfranquia">
            <i nz-icon nzType="search"></i>
          </nz-filter-trigger>
        </th>
        <th nzShowSort nzSortKey="rating">Indice de Aprovação</th>
        <th nzShowSort nzSortKey="status" nzShowFilter [nzFilters]="statuses"
          (nzFilterChange)="filterStatusChange($event)">Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data">
        <td>{{ data.firstName != null ? data.firstName : '' }} {{ data.lastName != null ? data.lastName : '' }}</td>
        <td>{{ (data.mobileNumber != null) ? (data.mobileNumber | phone) : '' }}</td>
        <td>{{ (data.nomeFranquia != null ? data.nomeFranquia : '') }}</td>
        <td>{{ data.rating != null ? data.rating + " %" : "-" }}</td>
        <td>
          <nz-tag [nzColor]="tagColor.driver(data.status)">{{'enum.driver.status.' + toCamelCase(data.status) | translate}}</nz-tag>
        </td>
        <td>
          <a [routerLink]="'../view/' + data.id">View</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <nz-dropdown-menu #filtername="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Primeiro Nome" [(ngModel)]="firstNameSearchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="filterName(firstNameSearchValue)"
          class="search-button">Search</button>
        <button nz-button nzSize="small" (click)="refreshPage()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #filtermobile="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Search Mobile Number" [(ngModel)]="mobileSearchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="filterMobile(mobileSearchValue)"
          class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="refreshPage()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>
  <nz-dropdown-menu #filterfranquia="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
      <div class="search-box">
        <input type="text" nz-input placeholder="Pesquisar Franquia" [(ngModel)]="franquiaSearchValue" />
        <button nz-button nzSize="small" nzType="primary" (click)="filterFranquia(franquiaSearchValue)"
          class="search-button">
          Search
        </button>
        <button nz-button nzSize="small" (click)="refreshPage()">Reset</button>
      </div>
    </div>
  </nz-dropdown-menu>