<div fxLayout="row" fxLayoutGap="4px" class="dt-actionbar">
      <button nz-button nzType="primary" routerLink="new"><i nz-icon nzType="plus"></i>Add</button>
    </div>
          <nz-table
        #ajaxTable
        nzShowSizeChanger
        [nzFrontPagination]="false"
        [nzData]="listOfData"
        [nzTotal]="total"
        [(nzPageIndex)]="pageIndex"
        [(nzPageSize)]="pageSize"
        (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)"
        nzBordered
      >
        <thead (nzSortChange)="sort($event)">
          <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Status</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ajaxTable.data">
            <td>{{ data.title }}</td>
            <td>{{ data.type }}</td>
            <td><nz-tag [nzColor]="tagColor.boolean(data.enabled)">{{data.enabled ? 'Desativar' : 'Habilitar'}}</nz-tag></td>
            <td>
              <a [routerLink]="'view/' + data.id">Ver</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="Are you sure?" (nzOnConfirm)="onDelete(data.id)">Deletar</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="changeStatus(data.id, false)" *ngIf="data.enabled">Desativar</a>
              <a (click)="changeStatus(data.id, true)" *ngIf="!data.enabled">Habilitar</a>
            </td>
          </tr>
        </tbody>
      </nz-table>