<nz-card>
  <h3>Availability Time</h3><br>
  <nz-range-picker [(ngModel)]="dates"></nz-range-picker><br><br>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
    <button nz-button nzType="primary" type="submit" [disabled]="!form.valid">Save</button>
  </form>
</nz-card>