<div fxLayout="row" fxLayoutGap="4px" class="dt-actionbar">
  <!--button nz-button nzType="primary"><i nz-icon nzType="plus"></i>Add</button-->
</div>
<nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzTotal]="total"
  [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)" nzBordered>
  <thead (nzSortChange)="sort($event)">
    <tr>
      <th>Tempo</th>
      <th>Assunto</th>
      <th>Conteúdo</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{ data.inscriptionTimestamp | date: 'short' }}</td>
      <td>{{ data.subject }}</td>
      <td>{{ data.content }}</td>
      <td>
        <nz-tag [nzColor]="tagColor.boolean(data.isReviewed)">{{data.isReviewed ? 'Revisado' : 'Não Revisado'}}</nz-tag>
      </td>
      <td>
        <a [routerLink]="'view/' + data.id">Ver</a>
      </td>
    </tr>
  </tbody>
</nz-table>