<div fxLayout="row" fxLayoutGap="4px" class="dt-actionbar">
  <!--<button nz-button nzType="primary"><i nz-icon nzType="plus"></i>Add</button>-->
</div>
<nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
  [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)" nzBordered>
  <thead (nzSortChange)="sort($event)">
    <tr>
      <th nzShowSort nzSortKey="transactionTime">
        Data & Hora
      </th>
      <th nzShowSort nzSortKey="transactionType">
        Local de embarque
      </th>
      <th>
        Valor
      </th>
      <th>
        Status
      </th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{ data.requestTimestamp | date: "short" }}</td>
      <td>{{ data.addresses[0] }}</td>
      <td>{{ data.costAfterCoupon | currency: data.currency }}</td>
      <td>
        <nz-tag [nzColor]="tagColor.request(data.status)">{{data.status}}</nz-tag>
      </td>
      <td>
        <a [routerLink]="'../../../requests/view/' + data.id">Ver</a>
      </td>
    </tr>
  </tbody>
</nz-table>