<nz-tabset [nzTabBarExtraContent]="extraTemplate" [(nzSelectedIndex)]="selectedCategory">
  <nz-tab *ngFor="let cat of listOfData" [nzTitle]="cat.title">
    <nz-table #ajaxTable [nzFrontPagination]="false" [nzData]="cat.services" nzBordered>
      <thead (nzSortChange)="sort($event)">
        <tr>
          <th>Nome</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data">
          <td>{{ data.title }}</td>
          <td>
            <a [routerLink]="'view/' + data.id">Ver</a>
            <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="Are you sure?" (nzOnConfirm)="onDelete(data.id)">Deletar</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>
<ng-template #extraTemplate>
  <button nz-button nzType="danger" *ngIf="listOfData.length > 0" (click)="deleteCategory(listOfData[selectedCategory])">Excluir categoria</button>
  <button nz-button style="margin-left: 8px;" *ngIf="listOfData.length > 0" [routerLink]="'category/view/' + listOfData[selectedCategory].id">Editar categoria</button>
  <button nz-button style="margin-left: 8px;" routerLink="category/new/">Nova categoria</button>
  <button nz-button style="margin-left: 8px;" *ngIf="listOfData.length > 0" [routerLink]="'new'">Novo serviço</button>
</ng-template>