<div fxLayout="row" fxLayoutGap="4px" class="dt-actionbar">
  <!--<button nz-button nzType="primary"><i nz-icon nzType="plus"></i>Add</button>-->
</div>
<nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzLoading]="loading"
  [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)" nzBordered>
  <thead (nzSortChange)="sort($event)">
    <tr>
      <th nzShowSort nzSortKey="reviewTimestamp">
        Data & Hora
      </th>
      <th nzShowSort nzSortKey="score">
        Ponto
      </th>
      <th>
        Revisar
      </th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{ data.reviewTimestamp | date: "short" }}</td>
      <td>{{ data.score }}%</td>
      <td>{{ data.review }}</td>
      <td>
        <a *ngIf="data.request != null" [routerLink]="'../../../../requests/view/' + data.request">Ver Pedido</a>
      </td>
    </tr>
  </tbody>
</nz-table>