<div fxLayout="row" fxLayoutGap="4px" class="dt-actionbar">
  <button nz-button nzType="primary" routerLink="new"><i nz-icon nzType="plus"></i>Add</button>
</div>
<nz-table #ajaxTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="listOfData" [nzTotal]="total"
  [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)" nzBordered>
  <thead (nzSortChange)="sort($event)">
    <tr>
      <th>Nome</th>
      <th>Nome do usuário</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{ data.firstName }} {{ data.lastName }}</td>
      <td>{{ data.userName }}</td>
      <td>
        <a [routerLink]="'view/' + data.id">Ver</a>
      </td>
    </tr>
  </tbody>
</nz-table>